services:
  hedgedoc:
    image: quay.io/hedgedoc/hedgedoc:1.10.6
    restart: unless-stopped
    depends_on:
      - db
    user: 3020:3020
    volumes:
      - .uploads:/hedgedoc/public/uploads
    environment:
      - CMD_DB_URL=postgres://hedgedoc:${DB_PASSWORD}@db:5432/hedgedoc
      - CMD_DOMAIN=hedgedoc.e6.freeddns.org
      - CMD_PROTOCOL_USESSL=true
      - CMD_SESSION_SECRET=${SESSION_SECRET}
      - CMD_ALLOW_EMAIL_REGISTER=false
      - CMD_ENABLE_UPLOADS=registered
    ports:
      - "127.0.0.1:3020:3000"
  db:
    image: postgres:18.1
    restart: unless-stopped
    user: 3021:3021
    environment:
      - POSTGRES_DB=hedgedoc
      - POSTGRES_USER=hedgedoc
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "hedgedoc"]
      start_period: 2m
      interval: 10s
