services:
  mariadb:
    image: docker.io/mariadb:12.1.2
    container_name: hedgedoc_mariadb
    restart: always
    user: 1000:1000
    volumes:
      - ./data:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=hedgedoc
      - MARIADB_USER=hedgedoc
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_AUTO_UPGRADE=1
      - TZ=Europe/Berlin
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 2m
      interval: 10s
  hedgedoc:
    image: lscr.io/linuxserver/hedgedoc:1.10.6
    container_name: hedgedoc
    restart: always
    depends_on:
      - mariadb
    volumes:
      - ./hedgedoc:/config
    environment:
      - DB_HOST=mariadb
      - DB_USER=hedgedoc
      - DB_PASS=${MARIADB_PASSWORD}
      - DB_NAME=hedgedoc
      - DB_PORT=3306
      - PGID=1000
      - PUID=1000
      - TZ=Europe/Berlin
      - CMD_DOMAIN=hedgedoc.e6.freeddns.org
      - CMD_URL_ADDPORT=false #optional
      - CMD_PROTOCOL_USESSL=true #optional
      - CMD_PORT=3000 #optional
    ports:
      - "127.0.0.1:3000:3000"
